<div class="container-posts-list">
  <div class="chef-posts-grid">
    <div id="posts-list-menu">
      <div class="chef-show-img-profile"
          style="background-image: url('<%= cl_image_path(@chef.photos[0].key, crop: :fill )%>')">
      </div>
      <div class="">
        <div class="below-chef-img d-flex justify-content-center mr-5">
          <div class="">
        </div>
      </div>

      <div class="post-menu">
        <div class="d-flex ml-3">
          <div class="">
            <a href="#">
              <i class="fab fa-fw fa-instagram fa-2x"></i>
            </a>
          </div>
          <div class="">
            <a href="#">
              <i class="fab fa-pinterest fa-2x"></i>
            </a>
          </div>
          <div class="ml-2"><span>(<%= @chef.followers.count %> followers)</span></div>
        </div>

          <div class="chef1 d-flex justify-content-between">
            <div class="">
              <%= link_to chef_posts_path(@chef) do %>
              <span class="text-info">Chef posts</span>
              <% end %>
            </div>
           <div class="">
            <i class="fas fa-chevron-right"></i>
           </div>
          </div>

            <div class="chef2 d-flex justify-content-between">
              <div class="">
                <%= link_to chef_path(@chef) do %>
                <span class="text-info">Chef profile</span>
              <% end %>
              </div>
              <div class="">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>

          </div>
        </div>
      </div>

  <div class="menu-chef-grid" id="additional-padding-menus">
    <% @chef.menus.each do |menu| %>
    <%= link_to  menu_path(menu) do %>
      <div class="menu-index-card">
        <div class="mr-2">
          <div class="menu-thumbnail rounded" style="background-image: url('<%= cl_image_path menu.photos[0].key, crop: :fill %>');">
          </div>
          <div class="">
            <span class="font-weight-bold chef-full-name"
              ><%= menu.title %></span>
            <div class=""><span class="font-weight-bold border-bottom chef-full-name"><%= menu.cuisine %></span></div>
            <span class="chef-restaurant"><%= menu.price %>€</span>
          </div>
          </div>
        </div>
    <% end %>
    <% end  %>
    </div>
  </div>
</div>
