<div class="container">
    <div class="grid-container-menu">
        <div class="mt-3">
            <div
            class="chef-image-menu rounded"
            style="
              background-image: url('<%= cl_image_path @menu.chef.photos[0].key, crop: :fill %>');
            "
          ></div>
          <p class="font-weight-bold text-info"><%= @menu.chef.first_name %> <%= @menu.chef.last_name %></p>
          <div class="link-container-menu">
              <div class="border-top d-flex justify-content-between">
                  <div class="">
                    <%= link_to chef_posts_path(@menu.chef) do %>
                    <span class="text-info">Chef's Posts</span>
                  </div>
                <div class="">
                    <i class="fas fa-chevron-right"></i>
                </div>
                <% end  %>
              </div>
              <div class="border-top d-flex justify-content-between">
                  <div class="">
                    <%= link_to chef_path(@menu.chef) do %>
                    <span class="text-info">Chef profile</span>
                  </div>
                  <div class="">
                    <i class="fas fa-chevron-right"></i>
                  </div>
                <% end  %>
              </div>
          </div>
        </div>
        <div class="menu-container text-center justify-content-center mt-3 menu-row">
            <div class="row">
                <div class="col-sm border-right bg-info">
                    <div class="menu-image-menu rounded mt-3" style="background-image: url('<%= cl_image_path @menu.photos[2].key, crop: :fill %>');"></div>
                </div>
                <div class="col-sm text-center bg-success">
                    <div class="menu-image-main rounded mt-3" style="background-image: url('<%= cl_image_path @menu.photos[0].key, crop: :fill %>');"></div>
                    <div class="mb-3 mt-3">
                        <span class="text-info"><%= @menu.title %></span>
                    </div>
                    <div class="border-bottom mb-3">
                    </div>
                    
                    <div class="container">
                        <p class="chefs-note text-info"><%= @menu.chefs_note %></p>
                    </div>
                    <div class="border-top">
                        <span><%= @menu.chef.first_name %> <%= @menu.chef.last_name %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
