

<div class="container-show-text">
      <h4 class="header-text"><medium> Christianne Turner </medium></h4>
      <h6 class="sub-header-text">The Wolesley - London </h6>
</div>

<div class="d-flex justify-content-center">
  <div class="container-show-img">
    <%= image_tag("chef-show1.jpeg", class: "chef-show-img") %>
    <%= image_tag("chef-show2.jpeg", class: "chef-show-img") %>
    <%= image_tag("chef-show3.jpeg", class: "chef-show-img") %>
  </div>
</div>
<div class="spacing-show">
</div>

<div class="container-show-story">
  <div class="d-flex justify-content-center">
    <div>
        <%= image_tag("chef-show4.jpeg", class: "chef-show-img-profile") %>
      <div class=below-chef-img>
        <a href="#">
        <i class="fab fa-fw fa-instagram"></i>
        </a>
        <a href="#">
        <i class="fab fa-pinterest"></i>
        </a>
        <small>1.7k Chef's plate followers</small>
      </div>
    </div>
  <p class="story-text">
    I learnt to cook on the job and moved from restaurant to restaurant in London working my way up.  My stint at the Ritz is what really propelled my skill and I began to experiment with vegan dishes as mains.
  <br>
  <br>
    My love for cooking began when I was 14.  I used to go fishing with my father and I became obssessed.  I used to spend hours prepping the fish before he used to cook  them.  I grew a profound respect for the animal and the way their enviroment influenced their flavour.
  <br>
  <br>
    My favourite ingredients these days consists of wild scottish salmon, hard to find the good quality these days.  I love forraged ingredients and our supplier picks qild samphire and oyster mushrooms from down in Cornwall, the location being a closely guarded secret!
  </p>
    <div>
      <div class="book-table">
        [Insert chefs hats]
        <div class="btn-book">
        <%= link_to "Book table" %>
        </div>
      </div>
      <div class="chef-insight">
        <p><strong> Chef's plate insight </strong></p>
        <p> Our pasta chef has a acquired a rare italian flower we are using with our lobster ravioli.</p>
      </div>
    </div>
  </div>

  <div class="chef-name-signature">
    <p><medium> Christianne Turner </medium></p>
  </div>

</div>
