<div class="chefit-main-container">

  <div class="chefit-banner">

    <div class="chefit-banner-details">
      <h1 class="banner-title">Chef it out!</h1>
      <h2 class="banner-sub-title">Explore an amazing personalized selection of Chefs</h2>
      <div class="arrow-hp">
        <i class="fas fa-chevron-down fa-2x arrow-hp"></i>
      </div>
    </div>
  </div>

<div class="p-2 mt-3 chef-flex-container">
    <div class="top-container">
      <div class="col-12">
        <h2 class ="h2-hp"><strong>Trending chefs...</strong></h2>
      </div>
    </div>

  <div class="chef-card-grid-container2">

    <% @top_chefs.sample(3).each do |top_chef| %>

      <div class="chef-card2 mb-2 grid-item rounded">
        <div class="d-flex justify-content-between mb-1 border-bottom">
          <div class="">
            <span class="font-weight-bold">
            <%= link_to chef_path(top_chef) do %>
              <div class="title-chefit"><%= top_chef.first_name %> <%= top_chef.last_name %></div></span>
          <% end %>
            <div class=""><span><%= top_chef.restaurant.name %></span></div>
          </div>
          <div class="">

            <i class="far fa-heart text-primary"></i>

          </div>
        </div>
        <div class="">
          <i class="fas fa-map-marker-alt text-primary mr-2"></i><span class="location-name"><%= top_chef.restaurant.location %></span>
        </div>
        <div class="chef-card-img-container">
          <div
            class="chef-card-img rounded"
            style="
              background-image: url('<%= cl_image_path top_chef.photos[0].key, crop: :fill %>');
            "
          ></div>
          <div
            class="chef-card-img rounded"
            style="
              background-image: url('<%= cl_image_path top_chef.menus[0].photos[0].key, crop: :fill %>');
            "
          ></div>
          <div
            class="chef-card-img rounded"
            style="
              background-image: url('<%= cl_image_path top_chef.menus[0].photos[1].key, crop: :fill %>');
            "
          ></div>
            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>
