
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item-2 nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Following</a>
      <a class="nav-item-2 nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Menu Bookmarks</a>
      <a class="nav-item-2 nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Bookings</a>
    </div>
</nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="container">
                <div class="following-chef-grid">
                    <% @followers.each do |follower| %>
                    <% if follower.user_id == current_user.id%>
                    <div class="mr-2 ">
                        <div class="d-flex mt-2">
                            <div
                            class="follower-image rounded"
                            style="
                              background-image: url('<%= cl_image_path follower.chef.photos[0].key, crop: :fill %>');
                            "
                          ></div>
                          <div class="w-100">
                              <%= link_to chef_path (follower.chef) do %>
                              <span class="font-weight-bold border-bottom chef-full-name text-info"><%= follower.chef.first_name %> <%= follower.chef.last_name %></span>
                            <% end %>
                            <span class="chef-restaurant text-info"><%= follower.chef.restaurant.name %></span>
                          </div>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container">
            <div class="following-chef-grid">
                <% @bookings.each do |booking| %>
                    <% if booking.user_id == current_user.id%>
                        <%= booking %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <% @bookings.each do |booking| %>
            <% if booking.user_id == current_user.id%>
                <%= booking %>
            <% end %>
        <% end %>
    </div>
  </div>




