
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item-2 nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Following</a>
      <a class="nav-item-2 nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Menu Bookmarks</a>
      <a class="nav-item-2 nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Bookings</a>
    </div>
</nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="container">
                <div class="following-chef-grid">
                    <% @followers.each do |follower| %>
                    <% if follower.user_id == current_user.id%>
                    <div class="mr-2 ">
                        <div class="d-flex mt-2">
                            <div
                            class="follower-image rounded"
                            style="
                              background-image: url('<%= cl_image_path follower.chef.photos[0].key, crop: :fill %>');
                            "
                          ></div>
                          <div class="w-100">
                              <%= link_to chef_path (follower.chef) do %>
                              <span class="font-weight-bold border-bottom chef-full-name text-info"><%= follower.chef.first_name %> <%= follower.chef.last_name %></span>
                            <% end %>
                            <span class="chef-restaurant text-info"><%= follower.chef.restaurant.name %></span>
                          </div>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container">
            <div class="menu-chef-grid-dashboard mt-2">
                <% @menu_likes.each do |menu_like| %>
                    <% if menu_like.user_id == current_user.id%>
                        <%= link_to  menu_path(menu_like.menu) do %>
                            <div class="card-display-menus auto-width">
                                <div class="menu-thumbnail w-100" id="border-radius-image" style="background-image: url('<%=        cl_image_path menu_like.menu.photos[0].key, crop: :fill %>');">
                                </div>
                                <div id="menu-description-details">
                                    <div class="title-menu-additional-styling">
                                    <strong><%= menu_like.menu.title %></strong>
                                    </div>
                                    <div class="cuisine-menu-additional-styling">Cuisine: <%= menu_like.menu.cuisine %></div>
                                    <div class="d-flex justify-content-between">
                                        <div class="cuisine-menu-additional-styling">Price: <%= menu_like.menu.price %>€</div>
                                        <div class=""><span class="menu-chef-name">By <%= menu_like.menu.chef.first_name %> <%= menu_like.menu.chef.last_name %></span></div>
                                    </div>
                                </div>
                            </div>
                        <% end  %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="bookings-container d-flex">
            <div class="booking-container-card m-auto w-50" >
                <% @bookings.each do |booking|%>
                    <% if booking.user_id == current_user.id%>
                        <div class="booking-card d-flex">
                            <div class="booking-date-time">
                                <p>Date: <b><%= booking.start_date %></b></p>
                                <p>Time: <b><%= booking.start_time %></b></p>
                            </div>
                            <div class="booking-card-restaurant">
                                <div>
                                    <h5>Restaurant:</h5>
                                </div>
                                    <%= link_to chef_path(booking.restaurant.main_chef) do %>
                                    <strong><%= booking.restaurant.name %></strong>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
  </div>




