<div class="hp-main-container">

  <div class="homepage-banner align-items-end">
    <div class='home-banner-details'>
      <h1 class="banner-title">Find the most inspirational chefs of today</h1>
        <form action="/chefs" id="form">
            <input name="location" class="form-control-for-hp w-100 fs-1" type="search" placeholder="  Where are you?">
          <button class="icon-search" type="submit">
            <a class="hp-search-button btn btn-info"><i class="fas fa-search"></i></a>
          </button>
        </form>
      <%= link_to "Chef it out!", chefit_path, class: "btn btn-chefit"%>
      <div class="arrow-hp">
        <i class="fas fa-chevron-down fa-4x arrow-hp"></i>
      </div>
    </div>
  </div>

<!-- First set of cards / Selection of 4 chefs -->

  <div class="homepage-container">
    <div class="homepage-cards">

      <div class="container">
        <div class="row">
          <div class="col-12">
             <h2 class ="h2-hp"><strong>Discover top inspirational chefs</strong></h2>
          </div>
        </div>
        <div class="row">
          <% @chefs.each do |chef| %>
            <div class="col-3 hp-link-to-customize">
              <%= link_to chef_path(chef) do %>
              <div class="homepage-card" style="width: 100%">
                <div class="homepage-card-image" style="background-image: url('<%= cl_image_path chef.photos[0].key, crop: :fill %>');">
                </div>
                <div class="card-body">
                  <h6 class="hp-card-title"><span class="chef-names"><%= chef.first_name %> <%= chef.last_name %></span> <br> <%= chef.restaurant.name %></h6>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

<!-- Second set of cards -->

  <div class="container call-actions-cards-fit">

    <div class="row">
      <div class="col-12">
         <h2 class ="h2-hp"><strong>Widen your culinary horizons...</strong></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <img src="https://images.pexels.com/photos/4252146/pexels-photo-4252146.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="400px" height="400px">
      </div>
      <div class="col-6 d-flex align-items-center">
        <p class="text-call-actopm-cards">Explore the <span class="chef-yellow">inspirations</span> of the chefs and the <span class="chef-yellow">creative process</span> behind the menu and ingredients</p>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-6 d-flex align-items-center">
        <p class="text-call-actopm-cards">Experience the <span class="chef-yellow">story</span> and <span class="chef-yellow">misson</span> behind the chef</p>
      </div>
      <div class="col-6">
        <img src="https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="400px" height="400px">
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-6">
        <img src="https://images.pexels.com/photos/4457124/pexels-photo-4457124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="400px" height="400px">
      </div>
      <div class="col-6 d-flex align-items-center">
        <p class="text-call-actopm-cards">Discover their cooking <span class="chef-yellow">tips</span> and signature dish recipes</p>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-6 d-flex align-items-center">
        <p class="text-call-actopm-cards">Try <span class="chef-yellow">personal recommendations</span> from the chefs themselves</p>
      </div>
      <div class="col-6">
        <img src="https://images.pexels.com/photos/2494659/pexels-photo-2494659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="400px" height="400px">
      </div>
    </div>
  </div>
</div>
