<div class="container-post-card d-flex">

    <div class="post-links">
      <div id="chef-profile-picture" class="chef-card-img" style="background-image: url('<%= cl_image_path @chef.photos[0].key, crop: :fill %>')"></div>
      <div class="post-menu-links">
        <div id='posts-links' class="chef1"> <%= link_to "Chef's Menu", chef_menus_path(@chef) %></div>
        <div id='posts-links' class="chef2"> <%= link_to "Chef's Profile", chef_path(@chef)  %></div>
        <div id='posts-links' class="chef2"> <%= link_to "All Chef's", chefs_path  %></div>
      </div>

     
    </div> 
      
    <div class="container-post-card-items">
      <% @posts.each do |post| %>
        <% if post.chef_id == @chef.id %>
        <div class="post-card">
            <div class="post-card-image" style="background-image: url('<%= cl_image_path post.photo.key, crop: :fill %>')"></div>
            <div class="post-card-date-description">
              <div class="post-card-posted"><p> <%= post.created_at.to_date %></p></div>
              <div class="post-card-description">
                <p><%= post.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end  %> 
    </div>
</div>